<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" type="text/css" href="reddit.css">
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="jQote2.js"></script>
  <script type="text/javascript" src="shuffle.js"></script>
  <script type="text/x-jqote-template" id="template">
   <![CDATA[
    <div class="link thing">
     <p class="parent"></p>
     <span class="rank"><%= this.rank %></span>
      <div class="midcol">
       <div class="arrow up"></div>
       <div class="score unvoted"><%= this.up %></div>
      </div>
     <div class="entry">
      <% if (this.picture) { %>
       <a class="thumbnail" href="<%= this.link %>">
        <img src=<%= this.picture %> style="height:70px;width:auto">
       </a>
      <% } %>
      <p class="title">
       <a class="title" href=<%= this.link %>>
        <%= this.title %>
       </a>
       <span class="domain">
        (<%= this.subreddit %>)
       </span>
      </p>
      <p class="tagline">
       submitted <%= this.created %> hours ago by 
       <a href="<%= this.id %>">
        <%= this.author %>
       </a>
      </p>
      <ul class="flat-list buttons">
       <li class="first">
        <% if (this.commentlink) { %>
         <a class="comments" href="<%= this.commentlink %>">
          <%= this.comments %> comments
         </a>
        <% } else { %>
         <a class="comments"> no commenting </a>
        <% } %>
       </li>
      </ul>
     </div>
    </div>
    <div class="child"></div>
   ]]>
  </script>
  <script type="text/javascript">
  </script>
 </head>
 <body>
  <div id="fb-root"></div>
  <script type="text/javascript" src="feeds.js"></script>
  <div id="header">
   <div class="sr-header-area">
    <ul class="flat-list sr-bar hover" id="sr-bar">
     <li id="fb-go">
      <a style="color:blue" onclick="FbLogin()"> Facebook </a>
     </li>
     <li id="reddit-go">
      <span class="seperator">-</span>
      Reddit
     </li>
    </ul>
   </div>
   <h1>
    Serapis
   </h1>
  </div>
  <div class="content" role="main">
   <style>
   body >.content .link .rank { width: 2.2ex } body >.content .link .midcol { width: 5.1ex } 
   </style>
   <div class="spacer">
    <div class="sitetable linklisting" id="feed">
    </div>
	<div id="loading-bar"></div>
   </div>
  </div>
 </body>
</html>
